# force explicit directory keeping
data/**
!data/.gitkeep

# vscode
**.vscode

# general files
app/static/**
app/upload/**
app/_cache/**
*.ipynb
*.pyc

# detectron2 files

# inpainting files
inpaint/pretrained_models/*.pth
inpaint/pretrained_models/*.tar
inpaint/pretrained_models/DAVIS_model/**
